<h1> user collection</h1>
<div id="cardcollection">

  <% collection.cards.forEach( (card, index) => { %>
    <% const cardAmount = amount[index].dataValues.amount %>
    <div class="cardhover">
      <div class="tooltip-hover">
        <a class="cardName"  href="../search/cards/<%= card.multiverseId %>">
          <%=card.name %>   
        </a>
        <img src="<%= card.imageUrl %>" class="hiddenimage">
      </div>
        <%= (amount[index].dataValues.cardId = card.id) ? ` X ${cardAmount}` : '' %>
        <a class="cardColDelete" href="./collection/delete/<%= card.multiverseId %>">
        Delete
        </a>
    </div>
    <% }) %>
      
    </div>