<h2> Edit Deck: "<%= deck.name %>"</h1>
<div class="editDeck">
  <div class="deckDetails">
    Name: <%= deck.name %>
    <br>
    Format: <%= deck.format %>
    <br>
    Description: <%= deck.description %>
    <br>
    Author: <%= deck.author %>
    <br>
    Created by User: <%= deck.creator %>
    <br>
  </div>
  <div class ="deckCards">
    <br>
    <br>
    <br>
    <strong>
      Deck Contents:
    </strong>
    <br>
    <% deck.cards.forEach( (card, index) => { %>
      <% const cardAmount = amount[index].dataValues.amount %>
      <div class="cardhover">
        <a class="cardName"  href="../search/cards/<%= card.multiverseId %>">
          <%=card.name %> 
  
        </a>
          <%= `  ${card.blockset} ` %>
          <%= (amount[index].dataValues.cardId = card.id) ? `    X ${cardAmount}` : '' %>
          <a class="cardDeckDelete" href="./delete/paramDeckId=<%= deck.id %>&paramDeckCard=<%= card.multiverseId %>">
          Delete from Deck
          </a>
          <img src="<%= card.imageUrl %>" class="hiddenimage">
      </div>
      <% }) %>
  </div>
  some deck editing stuff huh
      
</div>